html,
body {
  background: #502FE9;
  font-family: sans-serif;
  color: #30189b;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 40px;
}

h1,
h5,
p {
  margin: 0;
  padding: 0;
}

/* Style for all input fields */
input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  border: 2px solid transparent;

  &[type="text"],
  &[type="number"] {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
}

/* Style for input fields with focus */
input:focus {
  border: 2px solid dodgerblue;
}

/* Style for form labels */
label {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  display: block;
}

/* Style for form buttons */
button {
  background-color: dodgerblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 50%;
  margin: 0;

  &:hover {
    background-color: #0b7dda;
  }

  &.small {
    padding: 5px 10px;
    width: auto;
    font-size: 14px;
    background-color: #30189b;
  }
}

form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

  .row {
    display: flex;
    width: 100%;
    position: relative;
    gap: 15px;
  }
}

/* Global styling for HTML table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

/* Styling for table headers */
th {
  background-color: #30189b;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* Styling for table cells */
td {
  padding: 10px;
}

/* Styling for table alternate rows */
tr:nth-child(even) {
  background-color: #f8f8f8;
}