# ---- Device
DEVICE_NAME=DEVICE_NAME_INPUT
SCREEN_ORIENTATION=SCREEN_ORIENTATION_INPUT #right left normal inverted


# ---- Services
COMMANDS=True
DASHBOARD_SERVER=True
NOVNC=True
TELEPORT=True


# ---- Tokens
SLACK_TOKEN=[SLACK_TOKEN]


# ---- Settings
CRON_INTERVAL=15000 #ms


FLASK_APP=inc/classes/dashboardServer.py
# FLASK_ENV=development
