[Unit]
Description=The Wolf of Office service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/usr/bin/the-wolf-of-office/
ExecStart=/usr/bin/the-wolf-of-office/run.sh
StandardInput=tty-force
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
