[Unit]
Description=noVNC - remote web control
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/share/novnc/utils/launch.sh --listen 80
User=root

[Install]
WantedBy=default.target
