body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

iframe{
    height: 100%;
    width: 100%;
    border: none;
}
